
:root{
  --light: rgb(232, 232, 210);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}



p {
  margin: 0;
  text-align: justify;
  text-indent: 20px;
}

/* header css */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  width:  100%;
  height: 70px;
  color: var(--light);
}

header h1{
  margin: 0 auto;

}

/*nav Bar inside the hear on the right*/
.navBar {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  text-decoration: none;
}

.navBar a {
    text-decoration: none;
    color: var(--light);
    padding: 20px;
}

.navBar a:hover{
  background-color: var(--light);
  color: black;
  border-radius: 50%;
}

.title{
  width: 100%;
  height: 180px;
  background-image: url("../images/photo-1461749280684-dccba630e2f6.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/*banner with photo on the left and title on the right*/
.photo{
  position: absolute;
  top: 60px;
  height: 200px;
  width: 200px;
  padding: 20px;;
  border-radius: 50%;
}

.title h2{
  position: absolute;
  right: 100px;
  top: 140px;
  color: rgb(236, 236, 202);
}

/*create a 3 grid section*/
.page-section{
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 1fr;
  padding: 20px;
  margin: 10px;
}

#about h2,
#work h2,
#contact h2{
  border-right: 3px solid black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  margin-right: 20px;
}

/*a grid area on the right part of the work section*/
.projects{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px 300px 300px;
  grid-template-areas: 
  "port1 port1"
  "port2 port3"
  "port4 port5"
  ;
}

#port1{
  grid-area: port1;
  background-image: url("../images/02-portfolio-1.jpg");
}

#port2{
  grid-area: port2;
  background-image: url("../images/02-portfolio-2.jpg")
}

#port3{
  grid-area: port3;
  background-image: url("../images/02-portfolio-3.jpg");
}

#port4{
  grid-area: port4;
  background-image: url("../images/02-portfolio-4.jpg");
}

#port5{
  grid-area: port5;
  background-image: url("../images/photo-1510936111840-65e151ad71bb.avif");
}

.gridArea{
  display: grid;
  align-content: end;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
}

.projects a{
  text-decoration: none;
}

.projects a:hover{
  opacity: 0.8;
}

.heading{
  background-color: rgba(0,0,0,0.7);
  padding: 15px;
  height: 45px;
  color: white;
  font-size: 18px;
}
 /*third section*/
.contact-list{
  display: flex;
  justify-content: space-around;
  margin: 20px;
  padding: 30px;
  list-style: none;
}

.list-link{
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon{
  height: 20px;
  width:  20px;
}

.list-link a{
  text-decoration: none;
  color: black;
}

/*footer css*/
footer{
  text-align: center;
  padding: 20px;
  margin: 20px;
}

/*media query for the 3 section*/
@media screen and (max-width: 750px){
  .page-section{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
#about h2,
#work h2,
#contact h2{
  border-right: 0px;
  border-bottom: 3px solid black;
}
}

/*media query for the nav Bar*/
@media screen and (max-width: 700px) {
  .navBar{
   display: none;
  }
  
}

/*media query for the banner title*/
@media screen and (max-width: 480px) {
  .title h2{
    display: flex;
    position: absolute;
    top: 100px;
    right: 50px;
    font-size: 10px;
    font-weight: bold;
    background-color: black;
  }
}